
@{
    ViewData["Title"] = "Members";
}

<partial>
    @Html.Partial("PanelPartial")
</partial>

<div class="page-part">
    <h2>Пользователи курса</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Логин</th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (var item in ViewBag.members)
                    {
                        <tr>
                            <td>@item.Student.Name</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

